In [1]:
import pandas as pd
import numpy as np

df_vendas = pd.read_csv("../dados/women_clothing_ecommerce_sales.csv")

display(df_vendas)

,order_id,order_date,sku,color,size,unit_price,quantity,revenue
0,1,2022/6/1 16:05:00,708,Dark Blue,2XL,298,1,298
1,1,2022/6/1 16:05:00,89,Dark Blue,2XL,258,1,258
2,2,2022/6/10 17:03:00,bobo,Cream,One Size,228,1,228
3,3,2022/6/10 19:59:00,799,Dark Blue,XL,264,1,264
4,4,2022/6/11 11:42:00,799,Dark Blue,M,264,1,264
...,...,...,...,...,...,...,...,...
522,171,2022/9/9 6:27:00,799,Dark Blue,M,265,1,265
523,172,2022/9/9 7:18:00,708,Dark Blue,4XL,278,1,278
524,173,2022/9/9 7:22:00,799,Dark Blue,M,265,1,265
525,174,2022/9/9 8:25:00,799,Dark Blue,L,265,1,265
526,175,2022/9/9 9:47:00,799,Dark Blue,XL,265,1,265

In [ ]:
display(df_vendas)

display(df_vendas.shape)

display(list(df_vendas.columns))

display(df_vendas.info())

display(df_vendas.describe())

,order_id,order_date,sku,color,size,unit_price,quantity,revenue
0,1,2022/6/1 16:05:00,708,Dark Blue,2XL,298,1,298
1,1,2022/6/1 16:05:00,89,Dark Blue,2XL,258,1,258
2,2,2022/6/10 17:03:00,bobo,Cream,One Size,228,1,228
3,3,2022/6/10 19:59:00,799,Dark Blue,XL,264,1,264
4,4,2022/6/11 11:42:00,799,Dark Blue,M,264,1,264
...,...,...,...,...,...,...,...,...
522,171,2022/9/9 6:27:00,799,Dark Blue,M,265,1,265
523,172,2022/9/9 7:18:00,708,Dark Blue,4XL,278,1,278
524,173,2022/9/9 7:22:00,799,Dark Blue,M,265,1,265
525,174,2022/9/9 8:25:00,799,Dark Blue,L,265,1,265
526,175,2022/9/9 9:47:00,799,Dark Blue,XL,265,1,265

(527, 8)

['order_id',
 'order_date',
 'sku',
 'color',
 'size',
 'unit_price',
 'quantity',
 'revenue']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 527 entries, 0 to 526
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    527 non-null    int64
 1   order_date  527 non-null    object
 2   sku         527 non-null    object
 3   color       527 non-null    object
 4   size        490 non-null    object
 5   unit_price  527 non-null    int64
 6   quantity    527 non-null    int64
 7   revenue     527 non-null    int64
dtypes: int64(4), object(4)
memory usage: 33.1+ KB

None

         order_id  unit_price    quantity     revenue
count  527.000000  527.000000  527.000000  527.000000
mean   115.313093  274.973435    1.011385  278.024668
std     73.106716   34.517412    0.106193   44.741095
min      1.000000  191.000000    1.000000  191.000000
25%     54.000000  266.000000    1.000000  266.000000
50%    110.000000  278.000000    1.000000  278.000000
75%    166.000000  288.000000    1.000000  288.000000
max    273.000000  899.000000    2.000000  899.000000

In [ ]:
df_vendas["order_date"] = pd.to_datetime(df_vendas["order_date"], format="%Y/%m/%d %H:%M:%S")
display(df_vendas.info())

df_vendas["size"] = df_vendas["size"].fillna("One Size")

df_vendas["sku"] = df_vendas["sku"].replace("bobo", np.nan)

df_valid = df_vendas[df_vendas["sku"].notna()].copy()
#criei esse df valid para ser mais exato para analise e dashboards, tinha valores como "bobo" no  sku, deixei como NaN 


df_valid.info()


display(df_valid)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 527 entries, 0 to 526
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    527 non-null    int64
 1   order_date  527 non-null    datetime64[ns]
 2   sku         511 non-null    object
 3   color       527 non-null    object
 4   size        527 non-null    object
 5   unit_price  527 non-null    int64
 6   quantity    527 non-null    int64
 7   revenue     527 non-null    int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 33.1+ KB

None

<class 'pandas.core.frame.DataFrame'>
Index: 511 entries, 0 to 526
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    511 non-null    int64
 1   order_date  511 non-null    datetime64[ns]
 2   sku         511 non-null    object
 3   color       511 non-null    object
 4   size        511 non-null    object
 5   unit_price  511 non-null    int64
 6   quantity    511 non-null    int64
 7   revenue     511 non-null    int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 35.9+ KB

,order_id,order_date,sku,color,size,unit_price,quantity,revenue
0,1,2022-06-01 16:05:00,708,Dark Blue,2XL,298,1,298
1,1,2022-06-01 16:05:00,89,Dark Blue,2XL,258,1,258
3,3,2022-06-10 19:59:00,799,Dark Blue,XL,264,1,264
4,4,2022-06-11 11:42:00,799,Dark Blue,M,264,1,264
5,5,2022-06-11 14:46:00,799,Dark Blue,XL,264,1,264
...,...,...,...,...,...,...,...,...
522,171,2022-09-09 06:27:00,799,Dark Blue,M,265,1,265
523,172,2022-09-09 07:18:00,708,Dark Blue,4XL,278,1,278
524,173,2022-09-09 07:22:00,799,Dark Blue,M,265,1,265
525,174,2022-09-09 08:25:00,799,Dark Blue,L,265,1,265
526,175,2022-09-09 09:47:00,799,Dark Blue,XL,265,1,265

In [ ]:
faturamento_total = df_vendas["revenue"].sum()
display(faturamento_total)

#faturamento por dia
faturamento_dia = df_vendas.groupby(df_vendas["order_date"].dt.date)["revenue"].sum()
display(faturamento_dia)

#quais são os 5 produtos(sku) que mais geraram faturamento
faturamento_por_sku = df_vendas.dropna(subset=["sku"]).groupby("sku")["revenue"].sum()
top_cinco = faturamento_por_sku.sort_values(ascending=False)
top_cinco = top_cinco.head(5)
display(top_cinco)

#preço médio de cada sku
preço_medio_sku = df_vendas.groupby("sku")["unit_price"].mean()
display(preço_medio_sku)

#quais pedidos tem mais de 3 itens no total
pedidos_tres_itens = df_vendas.groupby("order_id", as_index=False)["quantity"].sum().query("quantity > 3")
display(pedidos_tres_itens)

#anomalia de preços
df_anomaly = df_vendas[df_vendas["revenue"] != df_vendas["unit_price"] * df_vendas["quantity"]].copy()
#fiz esse anomaly para ver se tem algum valor que seja anomalia deixei separado para ser usado para ver se tem anomalias
#df_vendas.drop(columns=["value_ok", "sku_valido"], inplace=True)

#renomear o nome da coluna sku valido
#df_valid.rename(columns={"sku_valido": "sku_valid"}, inplace=True)
#df_valid = df_valid.drop(columns=["value_ok"])

#qual foi o size mais vendido em quantidades
size_mais_vendidoqtd = df_valid.groupby("size")["quantity"].sum().idxmax()

#faturamento total por cor
fat_cor_total = df_vendas.groupby("color", as_index=False)["revenue"].sum().sort_values("revenue", ascending=False)
#percebi dados de cores como "A" "B" "C" "D" mas nao tenho detalhe se foi error ou o padrao de nome para tal cor... melhor opção e nao mexer
 
display(fat_cor_total)

np.int64(146519)

order_date
2022-06-01     556
2022-06-02     288
2022-06-03     854
2022-06-05     546
2022-06-06    4338
              ...
2022-09-26     834
2022-09-27     874
2022-09-28     870
2022-09-29     854
2022-09-30    1596
Name: revenue, Length: 116, dtype: int64

sku
799     79182
708     29146
9699     4896
239      4199
77       4055
Name: revenue, dtype: int64

sku
127      238.000000
1499     287.000000
1719     256.500000
218      314.857143
229      207.000000
239      262.437500
2499     240.500000
29       227.000000
3081     198.000000
339      271.000000
3799     265.555556
439      258.000000
539      268.000000
61399    278.000000
628      268.000000
708      294.404040
77       253.437500
79       313.000000
799      275.805654
8499     233.000000
89       257.000000
897      268.000000
9699     288.000000
Name: unit_price, dtype: float64

     order_id  quantity
14         15         4
15         16         4
17         18         6
23         24         5
24         25         5
53         54         4
61         62         6
68         69         5
72         73         6
82         83         4
133       134        13
163       164         4
203       204         7

              color  revenue
14        Dark Blue   112364
21       Light Blue     7337
5             Black     4428
20        Grey Wash     2390
26         Mid Wash     2043
30        Navy Blue     1693
4                 B     1491
15        Dark Wash     1311
10                C      975
7              Blue      878
17             Gray      815
3                 A      815
36        Thin Blue      785
33             Rust      781
9             Brown      691
37            White      679
12            Cream      610
13                D      516
19            Green      499
8      Blue Stripes      496
25           Matcha      456
27    Midnight Blue      396
28            Mocha      288
38           Yellow      278
34         Skintone      278
35       Thin Black      268
16                E      258
18     Gray Stripes      255
6     Black Stripes      248
29          Mustard      245
23       Light Wash      238
32       Red Orange      228
31             Pink      228
22       Light Gray      228
0     920 Navy blue      227
1    922 Army green      207
2         922 Black      207
11  Cornflower Blue      198
24           Maroon      191

In [ ]:
display(df_vendas)

,order_id,order_date,sku,color,size,unit_price,quantity,revenue
0,1,2022-06-01 16:05:00,708,Dark Blue,2XL,298,1,298
1,1,2022-06-01 16:05:00,89,Dark Blue,2XL,258,1,258
2,2,2022-06-10 17:03:00,NaN,Cream,One Size,228,1,228
3,3,2022-06-10 19:59:00,799,Dark Blue,XL,264,1,264
4,4,2022-06-11 11:42:00,799,Dark Blue,M,264,1,264
...,...,...,...,...,...,...,...,...
522,171,2022-09-09 06:27:00,799,Dark Blue,M,265,1,265
523,172,2022-09-09 07:18:00,708,Dark Blue,4XL,278,1,278
524,173,2022-09-09 07:22:00,799,Dark Blue,M,265,1,265
525,174,2022-09-09 08:25:00,799,Dark Blue,L,265,1,265
526,175,2022-09-09 09:47:00,799,Dark Blue,XL,265,1,265

,order_id,order_date,sku,color,size,unit_price,quantity,revenue
0,1,2022-06-01 16:05:00,708,Dark Blue,2XL,298,1,298
1,1,2022-06-01 16:05:00,89,Dark Blue,2XL,258,1,258
3,3,2022-06-10 19:59:00,799,Dark Blue,XL,264,1,264
4,4,2022-06-11 11:42:00,799,Dark Blue,M,264,1,264
5,5,2022-06-11 14:46:00,799,Dark Blue,XL,264,1,264
...,...,...,...,...,...,...,...,...
522,171,2022-09-09 06:27:00,799,Dark Blue,M,265,1,265
523,172,2022-09-09 07:18:00,708,Dark Blue,4XL,278,1,278
524,173,2022-09-09 07:22:00,799,Dark Blue,M,265,1,265
525,174,2022-09-09 08:25:00,799,Dark Blue,L,265,1,265
526,175,2022-09-09 09:47:00,799,Dark Blue,XL,265,1,265

In [ ]:
vendas_alto_valor = df_valid.loc[df_valid["revenue"] > 500]
display(vendas_alto_valor)

#filtro expecifico escolhi para cor e tamanho
filtro_dkb_2xl = df_valid.loc[(df_valid["color"] == "Dark Blue") &(df_valid["size"] == "2XL")].head(10)
display(filtro_dkb_2xl)

#testando .iloc
amostra = df_valid.iloc[:5, :5]
display(amostra)

#criando nova tabela e usando np.where para dizer se e normal ou alta o valor
df_valid["categoria_venda"] = np.where(df_valid["revenue"] >= 300, "Alta", "Normal")
display(df_valid)

#vendas expecificas 
vendas_pos_junho = df_valid.loc[df_valid["order_date"] >= "2022-07-01"]
display(vendas_pos_junho)

vendas_pos_junho.to_csv("vendas_pos_junho.csv",index=False)

,order_id,order_date,sku,color,size,unit_price,quantity,revenue,sku_valid,categoria_venda
103,84,2022-07-11 17:19:00,799,Dark Blue,M,288,2,576,True,Alta
190,164,2022-07-06 17:14:00,9699,Black,One Size,288,2,576,True,Alta
280,242,2022-08-25 13:02:00,799,Dark Blue,XL,288,2,576,True,Alta
331,15,2022-08-05 19:33:00,708,Dark Blue,4XL,899,1,899,True,Alta
372,47,2022-09-10 02:31:00,799,Dark Blue,XL,265,2,530,True,Alta
418,83,2022-09-19 10:05:00,799,Dark Blue,L,288,2,576,True,Alta

,order_id,order_date,sku,color,size,unit_price,quantity,revenue,sku_valid,categoria_venda
0,1,2022-06-01 16:05:00,708,Dark Blue,2XL,298,1,298,True,Normal
1,1,2022-06-01 16:05:00,89,Dark Blue,2XL,258,1,258,True,Normal
19,17,2022-06-15 10:46:00,708,Dark Blue,2XL,278,1,278,True,Normal
37,30,2022-06-19 13:41:00,708,Dark Blue,2XL,278,1,278,True,Normal
62,52,2022-06-28 19:31:00,708,Dark Blue,2XL,298,1,298,True,Normal
64,54,2022-06-03 22:00:00,708,Dark Blue,2XL,278,1,278,True,Normal
75,64,2022-06-06 11:57:00,708,Dark Blue,2XL,278,1,278,True,Normal
77,66,2022-06-06 21:15:00,708,Dark Blue,2XL,278,1,278,True,Normal
86,72,2022-06-08 12:39:00,708,Dark Blue,2XL,278,1,278,True,Normal
95,76,2022-07-10 10:24:00,89,Dark Blue,2XL,258,1,258,True,Normal

   order_id          order_date  sku      color size
0         1 2022-06-01 16:05:00  708  Dark Blue  2XL
1         1 2022-06-01 16:05:00   89  Dark Blue  2XL
3         3 2022-06-10 19:59:00  799  Dark Blue   XL
4         4 2022-06-11 11:42:00  799  Dark Blue    M
5         5 2022-06-11 14:46:00  799  Dark Blue   XL

,order_id,order_date,sku,color,size,unit_price,quantity,revenue,sku_valid,categoria_venda
0,1,2022-06-01 16:05:00,708,Dark Blue,2XL,298,1,298,True,Normal
1,1,2022-06-01 16:05:00,89,Dark Blue,2XL,258,1,258,True,Normal
3,3,2022-06-10 19:59:00,799,Dark Blue,XL,264,1,264,True,Normal
4,4,2022-06-11 11:42:00,799,Dark Blue,M,264,1,264,True,Normal
5,5,2022-06-11 14:46:00,799,Dark Blue,XL,264,1,264,True,Normal
...,...,...,...,...,...,...,...,...,...,...
522,171,2022-09-09 06:27:00,799,Dark Blue,M,265,1,265,True,Normal
523,172,2022-09-09 07:18:00,708,Dark Blue,4XL,278,1,278,True,Normal
524,173,2022-09-09 07:22:00,799,Dark Blue,M,265,1,265,True,Normal
525,174,2022-09-09 08:25:00,799,Dark Blue,L,265,1,265,True,Normal
526,175,2022-09-09 09:47:00,799,Dark Blue,XL,265,1,265,True,Normal

,order_id,order_date,sku,color,size,unit_price,quantity,revenue,sku_valid,categoria_venda
94,75,2022-07-01 18:05:00,799,Dark Blue,XL,288,1,288,True,Normal
95,76,2022-07-10 10:24:00,89,Dark Blue,2XL,258,1,258,True,Normal
96,77,2022-07-10 12:05:00,1719,Thin Blue,One Size,268,1,268,True,Normal
97,78,2022-07-10 15:57:00,708,Dark Blue,XL,298,1,298,True,Normal
98,79,2022-07-10 18:29:00,799,Dark Blue,XL,288,1,288,True,Normal
...,...,...,...,...,...,...,...,...,...,...
522,171,2022-09-09 06:27:00,799,Dark Blue,M,265,1,265,True,Normal
523,172,2022-09-09 07:18:00,708,Dark Blue,4XL,278,1,278,True,Normal
524,173,2022-09-09 07:22:00,799,Dark Blue,M,265,1,265,True,Normal
525,174,2022-09-09 08:25:00,799,Dark Blue,L,265,1,265,True,Normal
526,175,2022-09-09 09:47:00,799,Dark Blue,XL,265,1,265,True,Normal

In [45]:
display(df_valid)

,order_id,order_date,sku,color,size,unit_price,quantity,revenue
0,1,2022-06-01 16:05:00,708,Dark Blue,2XL,298,1,298
1,1,2022-06-01 16:05:00,89,Dark Blue,2XL,258,1,258
3,3,2022-06-10 19:59:00,799,Dark Blue,XL,264,1,264
4,4,2022-06-11 11:42:00,799,Dark Blue,M,264,1,264
5,5,2022-06-11 14:46:00,799,Dark Blue,XL,264,1,264
...,...,...,...,...,...,...,...,...
522,171,2022-09-09 06:27:00,799,Dark Blue,M,265,1,265
523,172,2022-09-09 07:18:00,708,Dark Blue,4XL,278,1,278
524,173,2022-09-09 07:22:00,799,Dark Blue,M,265,1,265
525,174,2022-09-09 08:25:00,799,Dark Blue,L,265,1,265
526,175,2022-09-09 09:47:00,799,Dark Blue,XL,265,1,265